{% load static %}
<div class="masthead">
  <div class="container">
    <div class="masthead__search">
      <form action="/search.php" method="get" role="search">
        <input class="input" type="search" name="soz" placeholder="Search news, topics, people" aria-label="Search news, topics, people">
      </form>
    </div>

    <a href="{% url 'core:home' %}" class="masthead__brand" aria-label="{{ SITE_NAME }} home">
      <img src="{% static 'img/logo.png' %}" alt="{{ SITE_NAME }}" class="masthead__logo-img">
      <span class="masthead__tagline">{{ SITE_TAGLINE }}</span>
    </a>

    <div class="masthead__actions"></div>
  </div>
</div>
